*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!/patch/*
!Makefile
!README.md
!.gitignore
!init.sh
/nvboard
/fceux-am
/digital_circuit_experiments
/am-kernels
/ysyxSoC
/rt-thread-am