[submodule "npc/rvdecoderdb"]
	path = npc/rvdecoderdb
	url = https://github.com/chipsalliance/rvdecoderdb.git
[submodule "rt-thread-am"]
	path = rt-thread-am
	url = git@github.com:NJU-ProjectN/rt-thread-am.git
[submodule "ysyxSoC"]
	path = ysyxSoC
	url = git@github.com:OSCPU/ysyxSoC.git
[submodule "nemu/tools/mini-gdbstub"]
	path = nemu/tools/mini-gdbstub
	url = https://github.com/RinHizakura/mini-gdbstub.git
[submodule "npc/ChiRVFormal"]
	path = npc/ChiRVFormal
	url = https://github.com/iscas-tis/ChiRVFormal.git
[submodule "npc/riscv-opcodes"]
	path = npc/riscv-opcodes
	url = https://github.com/riscv/riscv-opcodes.git
[submodule "npc/espresso"]
	path = npc/espresso
	url = https://github.com/chipsalliance/espresso.git
