CONFIG_RVE=y
# CONFIG_ITRACE is not set
CONFIG_MBASE=0x30000000
# CONFIG_MEM_RANDOM is not set
CONFIG_YSYXSOC=y
CONFIG_HAS_MROM=y
CONFIG_HAS_SRAM=y
CONFIG_HAS_PSRAM=y
CONFIG_HAS_FLASH=y
CONFIG_HAS_SDRAM=y
CONFIG_HAS_UART=y
CONFIG_HAS_CLINT=y
