CONFIG_RVE=y
CONFIG_NPC=y
CONFIG_NPC_TOP_NAME="ysyxSoCFull"
CONFIG_NPC_VERILATOR_GPR="ysyxSoCFull__DOT__asic__DOT__cpu__DOT__cpu__DOT__getGprDpiC__DOT__temp_regs"
CONFIG_CC_O3=y
CONFIG_CC_DEBUG_ONLY_G=y
CONFIG_TAKE_RUN_AS_RUNBATCH=y
# CONFIG_TRACE is not set
CONFIG_MSIZE=0x400000
CONFIG_DEVICE=y
# CONFIG_HAS_SERIAL is not set
# CONFIG_HAS_TIMER is not set
# CONFIG_HAS_KEYBOARD is not set
# CONFIG_HAS_VGA is not set
CONFIG_HAS_MROM=y
CONFIG_HAS_FLASH=y
CONFIG_HAS_SDRAM=y
CONFIG_SDRAM_SIZE=0x08000000
# CONFIG_HAS_AUDIO is not set
# CONFIG_HAS_DISK is not set
CONFIG_NPC_SKIP_CLINT=y
CONFIG_NPC_SKIP_SPI=y
CONFIG_NPC_SKIP_GPIO=y
CONFIG_NPC_SKIP_PS2=y
CONFIG_NPC_SKIP_VGA=y
CONFIG_NPC_SKIP_CHIPLINK_MEM=y
CONFIG_TIMER_CLOCK_GETTIME=y
CONFIG_NVBOARD=y
