# Build outputs
/build/
/bin/
/CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
Makefile

# IDE/Tooling
.vscode/
.idea/
*.swp
*.swo
*.user

# Generated traces / logs
itrace-log.txt
*.log

# OS cruft
.DS_Store
Thumbs.db

!/src/*
!/include/*

