CONFIG_NPC_CHISEL=y
CONFIG_NVBOARD=y
# CONFIG_TRACE is not set
CONFIG_DEVICE=y
# CONFIG_HAS_SERIAL is not set
# CONFIG_HAS_TIMER is not set
# CONFIG_HAS_KEYBOARD is not set
# CONFIG_HAS_VGA is not set
# CONFIG_HAS_AUDIO is not set
# CONFIG_HAS_DISK is not set
CONFIG_HAS_SRAM=y
CONFIG_HAS_FLASH=y
CONFIG_HAS_PSRAM=y
CONFIG_HAS_SDRAM=y
CONFIG_SDRAM_BA_BITS=4
CONFIG_HAS_UART=y
CONFIG_HAS_CLINT=y
CONFIG_IMEM_FLASH_BASE=y
CONFIG_MBASE=0x30000000
CONFIG_MSIZE=0x8000000
