*.*
*
!*/
!Makefile
!*.mk
!*.[cSh]
!*.v
!*.sv
!*.cc
!*.cpp
!*.hpp
!*.scala
!.gitignore
!linecount.sh
!build.sbt
!README.md
build/
obj_dir/**/*
obj_dir
project
target
test_run_dir
.bloop
.bsp
.cache
.metals
.vscode
generated_svsrc/
!prog/*.data
!csrc/*.*
!include/**/*
!test_progs/*
thirdparty/**/*
!thirdparty/Makefile
log
replxx_history
!vsrc
!src
!**/libreplxx.a