*.*
*
!*/
!Makefile
!*.mk
!*.scala
!*.[cSh]
!*.v
!*.cpp
!*.cc
!.gitignore
!.scalafmt.conf
!build.sc
!README.md
build/
!/tools/*
# mill
out/
.bsp/
.idea/
.idea_modules/
test_run_dir/
!*.nxdc
.ipynb_checkpoints
!Kconfig
!*.py
!*.vlt
!tools/disasm/
tools/disasm/disasm
!data/*
!scripts/*
*.kate-swp
