*.*
*
!*/
!*.nxdc
!Makefile
!*.mk
!*.scala
!*.[cSh]
!*.v
!*.cpp
!*.hpp
!*.cc
!.gitignore
!.scalafmt.conf
!README.md
build/

# mill
!*.mill
!.mill-version
out/
.metals/
.bsp/
.idea/
.idea_modules/
test_run_dir/
deps/

!*.sh
!*.lua
!*.vlt
!*.txt
!*.json
compile_commands.json

!history_perf/*
